TENANT_SLUG=connect
TENANT_HTTP_PORT=8001
DJANGO_SECRET_KEY=replace-with-a-generated-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=connect.nexecode.com,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://connect.nexecode.com
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
DJANGO_SESSION_COOKIE_NAME=optiverse_connect_sessionid
DJANGO_CSRF_COOKIE_NAME=optiverse_connect_csrftoken
DJANGO_TIME_ZONE=Asia/Karachi
DJANGO_LANGUAGE_CODE=en-us

DB_ENGINE=postgresql
DB_NAME=optiverse_connect
DB_USER=optiverse_connect
DB_PASSWORD=replace-with-a-generated-password
DB_HOST=db
DB_PORT=5432
DB_SSLMODE=disable

OPTIVERSE_RUNTIME_DIR=/runtime
ONU_STATUS_SYNC_PROGRESS_FILE=/runtime/onu_status_sync_progress.json
OLT_BACKGROUND_SYNC_THREADS=snmp_monitor,onu_status,signal_sample,inventory
OPTIVERSE_ADMIN_USERNAME=admin
OPTIVERSE_ADMIN_EMAIL=
OPTIVERSE_ADMIN_PASSWORD=replace-with-a-generated-password

OPTIVERSE_LICENCE_URL=https://licence.nexecode.com/api/optiverse/v1
OPTIVERSE_LICENCE_TOKEN=replace-with-tenant-token
OPTIVERSE_LICENCE_PUBLIC_KEY_URL=https://licence.nexecode.com/api/v1/licenses/public-key

OPTIVERSE_VPN_PUBLIC_HOST=vpn-connect.nexecode.com
OPTIVERSE_VPN_PORT=52001
OPTIVERSE_WG_LISTEN_PORT=51820
OPTIVERSE_WG_STATE_DIR=/etc/optiverse/wg
OPTIVERSE_WG_SOCKET=/run/optiverse/wg.sock
WORKER_CPUS=1.0
